@page "/loginControl"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <b>User: @context.User.Identity.Name</b>

        <a class="ml-md-auto btn btn-success"
           href="/logout?returnUrl=/"
           target="_top">Logout<span class="oi oi-account-logout"></span></a>
    </Authorized>
</AuthorizeView>

@code {

    string nombreUsuario = "";
    string clave = "";

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

}