@page "/loginControl"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <b>User: @context.User.Identity.Name</b>

        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
        <input type="text"
               placeholder="Nombre Usuario"
               @bind="@nombreUsuario" />
        &nbsp;&nbsp;

        <input type="password"
               placeholder="Clave"
               @bind="@clave" />

        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@encode(nombreUsuario)&paramPassword=@encode(clave)"
           target="_top">Login</a>


    </NotAuthorized>
</AuthorizeView>

@code {

    string nombreUsuario = "";
    string clave = "";

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

}